{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block body %}

<div class="container">
  <center>
    <a href="/create/" style="text-decoration:none;"><button class="btn btn-large createStory">Share my story</button></a>
    <a href="/view/" style="text-decoration:none;"><button class="btn btn-large viewStormy">View my stories</button></a>
    <a href="/dashboard/" style="text-decoration:none;"><button class="btn btn-large viewStory">View other stories</button></a>
    <a href="/logout/" style="text-decoration:none;"><button class="btn btn-large logout">Logout</button></a>
  </center>
</div>

{% endblock %}

{% block extra-js %}
{% endblock %}
