{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block body %}

{% if form.errors %}

<div class="container">
  <div class="preview2">
    <center>
    <div class="loginBox">
      <div class="row">
        <div class="span2" style="width:90px;"><p class="logSize">Sign in</p></div>
        <div class="span1" style="width:115px;"><p class="regSize">or register</p></div>
      </div>
      <form method="post" action="/login/" id="hideLog">
        <input type="text" name="username" style="height:32px;width:223px;" maxlength="254" placeholder="Username" required>
        <input type="password" name="password" style="height:32px;width:223px;" maxlength="4096" placeholder="Password" required>
        <button class="btn btn-large" name="submit" type="submit">Log in</button>
      </form>
      <form method="POST" action="/register/" id="hideReg">
        <input type="text" name="username" style="height:32px;width:223px;" maxlength="20" placeholder="Username" required>
        <input name="email" type="email" style="height:32px;width:223px;" placeholder="Email" required>
        <input type="password" name="password" style="height:32px;width:223px;" maxlength="40" placeholder="Password" required>
        <button class="btn btn-large" name="submit" type="submit">Sign up</button>
      </form>
    </div>
    </center>
  </div>
</div>

{% else %}

<div class="container">
  <div class="preview2">
    <center>
    <div class="loginBox">
      <div class="row">
        <div class="span2" style="width:90px;"><p class="logSize">Sign in</p></div>
        <div class="span1" style="width:115px;"><p class="regSize">or register</p></div>
      </div>
      <form method="post" action="/login/" id="hideLog">
        <input type="text" name="username" style="height:32px;width:223px;" maxlength="254" placeholder="Username" required>
        <input type="password" name="password" style="height:32px;width:223px;" maxlength="4096" placeholder="Password" required>
        <button class="btn btn-large" name="submit" type="submit">Log in</button>
      </form>
      <form method="POST" action="/register/" id="hideReg">
        <input type="text" name="username" style="height:32px;width:223px;" maxlength="20" placeholder="Username" required>
        <input name="email" type="email" style="height:32px;width:223px;" placeholder="Email" required>
        <input type="password" name="password" style="height:32px;width:223px;" maxlength="40" placeholder="Password" required>
        <button class="btn btn-large" name="submit" type="submit">Sign up</button>
      </form>
    </div>
    </center>
  </div>
</div>

{% endif %}

{% endblock %}

{% block extra-js %}
{% endblock %}
